.SectionTitle h1 {
     color: rgba(0, 0, 0, 0.9);
     font-weight: bold;
     position: relative;
     
     font-size: 30px;
}

.SectionTitle h1 span {
     color: #4F46E5;
     font-weight: bold;
     position: relative;
     
     font-size: 30px;
}

.SectionTitle p {
     color: rgb(0 0 0/.6);
     font-weight: bold;
     margin: 0px;
     position: relative;
     font-size: 20px;
}