@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FFF;
  --font_family: -apple-system;

}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background-color: var(--background);

  font-family: -apple-system;
  font-style: normal;
}

.background {
  background-color: var(--background);
}

.primaryBg {
  background: var(--Primary, #F84C03);
}

.primaryColor {
  color: var(--Primary, #F84C03);
}

.secondBg {
  background-color: #FFF5F3;
}

.logo h1 {

  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

}

.logo h1 span {
  font-size: 35px;
  color: var(--Primary, #F84C03)
}

.logoBlack {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

}

.logoBlack h1 {
  color: var(--Primary, #F84C03)
}

.logoBlack h1 span {
  font-size: 35px;
  color: var(--Primary, #fff)
}

.paragraph {
  color: var(--Text-Light, #555);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.08px;
}

.boxshadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.heading-1 {
  color: var(--Heading, #2B2B2B);
  font-family: var(--font_family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
  letter-spacing: -0.1px;
}

.heading-4 {
  color: var(--Heading, #2B2B2B);
  font-size: 20px;
  font-weight: 600;
}

.textColor {
  color: var(--Heading, #2B2B2B);
}




.HadingTitle {
  color: var(--Heading, #2B2B2B);
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.66px;
}


.apartment_form .inputFrom {
  display: flex;
  width: 598px;
  padding: 52px 48px;
  flex-direction: column;

  align-items: flex-end;
  gap: 32px;
  border-radius: 12px;
  background: #FFF;
}

.orBar {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  position: relative;

}

.orBar::before{
  width: 100px;
  height: 2px;
  width:  10px;
  background: black;
}